@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --primary-color: white;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(28deg, rgba(2,0,36,1) 0%, rgba(51,114,190,1) 0%, rgba(94,8,112,1) 0%, rgba(90,7,101,1) 12%, rgba(105,9,121,1) 38%, rgba(90,38,140,1) 47%, rgba(75,68,160,1) 56%, rgba(65,88,173,1) 62%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.card {
    background: #242628;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.card_img {
    width: 150px;
    height: 150px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(35px);
    transition: 0.5s;
}

.card h2 {
    font-size: 200%;
    margin-top: 50px;
}

.card p {
    margin-top: 8px;
    font-size: 88% ;
    color: var(--primary-color);
}

.card_social {
    margin: 25px 0;
}

.card_social a {
    color: white;
    margin: 25px 20px;
    font-size: 32px;
    text-decoration: none;
}

.card_social a:hover {
    color: var(--primary-color);
}

/* .card button {
    width: 100px;
    height: 50px;
    border: 2px solid var(--primary-color);
    background: transparent;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5;
    font-weight : 800 ;
}

.card button:hover {
    background: var(--primary-color);
    color : black ;
} */

.card_img:hover {
    width: 100%;
    height: 100%;
    transform: unset;
    border: none;
    border-radius: 10px;
}

.contact {
    color: var(--primary-color);
    text-decoration: none;
    padding: 20px 12px ;
    font-weight : 500 ;
}

.contact:hover {
    color : black ;
    font-weight : 500 ;
}

.card_contact:hover {
    color: black;
    font-weight : 500 ;
}

button {
margin: 0px auto ;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
padding: 0 10px;
color: white;
text-shadow: 2px 2px rgb(116, 116, 116);
text-transform: uppercase;
border: solid 2px black;
letter-spacing: 1px;
font-weight: 600;
font-size: 17px;
background-color: hsl(49deg 98% 60%);
border-radius: 50px;
position: relative;
overflow: hidden;
transition: all .5s ease;
}

button:active {
transform: scale(.9);
transition: all 100ms ease;
}

button svg {
transition: all .5s ease;
z-index: 2;
}

.play {
transition: all .5s ease;
transition-delay: 300ms;
}

button:hover svg {
transform: scale(3) translate(50%);
}

.now {
position: absolute;
left: 0;
transform: translateX(-100%);
transition: all .5s ease;
z-index: 2;
}

button:hover .now {
transform: translateX(10px);
transition-delay: 300ms;
}

button:hover .play {
transform: translateX(200%);
transition-delay: 300ms;
}

